In [4]:
# Import pandas

import pandas as pd

In [5]:
data = pd.DataFrame({"Name": ['Aragorn', 'Boromir', 'Frodo','Galadriel'],
                     "Race": ["human", "human", "hobbit", "elf"],
                     "Age": [88,41,51,8382]})

In [6]:
data.head()

        Name    Race   Age
0    Aragorn   human    88
1    Boromir   human    41
2      Frodo  hobbit    51
3  Galadriel     elf  8382

In [7]:
#using apply function

def divide(row):
        result = row['Age']/10
        return result

data['age_valinor'] = data.apply(divide, axis=1)

data

        Name    Race   Age  age_valinor
0    Aragorn   human    88          8.8
1    Boromir   human    41          4.1
2      Frodo  hobbit    51          5.1
3  Galadriel     elf  8382        838.2

In [8]:
#using lamda function

divide_2 = lambda x: x/10
divide_2(data['Age'])

0      8.8
1      4.1
2      5.1
3    838.2
Name: Age, dtype: float64

In [9]:
# Create Label Column

data['age_label_2'] = data['Age'].apply(
lambda x:  'elven old' if x > 500 else ('middle-aged' if x >=100 else 'young'))

In [10]:
data['age_label'] = data['Age'].apply(
       lambda x: 'elven old' if x > 500 else ('middle-aged' if x >=100 else 'young'))

data

        Name    Race   Age  age_valinor age_label_2  age_label
0    Aragorn   human    88          8.8       young      young
1    Boromir   human    41          4.1       young      young
2      Frodo  hobbit    51          5.1       young      young
3  Galadriel     elf  8382        838.2   elven old  elven old